.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Greeting {
  text-align: right;
}

.uname {
  font-weight:bolder;
}

.postTime {
  font-size:0.8em;
}

.postAuthor {
  font-weight:bold;
}

.postSubject {
  margin-bottom: 20px;
}

.hiddenFileDialog {
  visibility: hidden;
}

.profilePic {
}

.profilePicPreview {
  width:200px;
}

.logoText {
  font-weight:bold;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
